div(layout="column")

    div(layout="row",flex)

        div(ng-if="!activeItem",flex,layout="row")
            md-button(ng-click="ctrl.addItem()",class="md-raised") Add New

        div(ng-if="activeItem",flex,layout="row")
            md-button(ng-click="ctrl.addItemCancel()",class="md-raised") Cancel
            md-button(ng-click="ctrl.saveItem(activeItem)",class="md-raised md-primary",ng-disabled="! activeItem.isValid") Save
            span(flex)
            md-button(ng-click="ctrl.removeItem(activeItem, $event)",class="md-raised md-warn") Remove

    div(ui-grid="gridOptions",ui-grid-selection,class="nx-are-grid",ng-if="!activeItem")
    arm-form(ng-model="formOptions",ng-if="activeItem")